body {
  background-color: #609fd3;
  font-family: Arial;
  text-align: center;
  margin-top: 100px;
}

/* button {
  padding: 10px 20px;
  background-color: #3128b6;
  color: rgb(37, 173, 49);
  border: none;
  font-size: 20px;
  cursor: pointer;
} */
